TresCapasMio/App_WebReferences/wsGabo/wsRecetario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://miPrimerWebService.aweb.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://miPrimerWebService.aweb.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://miPrimerWebService.aweb.com/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerRecetas">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerRecetasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerRecetasResult" type="tns:ArrayOfEntReceta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEntReceta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EntReceta" nillable="true" type="tns:EntReceta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntReceta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ingredientes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="tns:EntTipo" />
          <s:element minOccurs="1" maxOccurs="1" name="DificultadId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Dificultad" type="tns:EntDificultad" />
          <s:element minOccurs="1" maxOccurs="1" name="Porciones" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Tiempo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Fotografia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Video" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaAlta" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntTipo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntDificultad">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtenerRecetaID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerRecetaIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerRecetaIDResult" type="tns:EntReceta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfEntReceta" nillable="true" type="tns:ArrayOfEntReceta" />
      <s:element name="EntReceta" nillable="true" type="tns:EntReceta" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerRecetasSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerRecetas" />
  </wsdl:message>
  <wsdl:message name="ObtenerRecetasSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerRecetasResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerRecetaIDSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerRecetaID" />
  </wsdl:message>
  <wsdl:message name="ObtenerRecetaIDSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerRecetaIDResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerRecetasHttpGetIn" />
  <wsdl:message name="ObtenerRecetasHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfEntReceta" />
  </wsdl:message>
  <wsdl:message name="ObtenerRecetaIDHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerRecetaIDHttpGetOut">
    <wsdl:part name="Body" element="tns:EntReceta" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerRecetasHttpPostIn" />
  <wsdl:message name="ObtenerRecetasHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfEntReceta" />
  </wsdl:message>
  <wsdl:message name="ObtenerRecetaIDHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerRecetaIDHttpPostOut">
    <wsdl:part name="Body" element="tns:EntReceta" />
  </wsdl:message>
  <wsdl:portType name="wsRecetarioSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerRecetas">
      <wsdl:input message="tns:ObtenerRecetasSoapIn" />
      <wsdl:output message="tns:ObtenerRecetasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerRecetaID">
      <wsdl:input message="tns:ObtenerRecetaIDSoapIn" />
      <wsdl:output message="tns:ObtenerRecetaIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsRecetarioHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerRecetas">
      <wsdl:input message="tns:ObtenerRecetasHttpGetIn" />
      <wsdl:output message="tns:ObtenerRecetasHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerRecetaID">
      <wsdl:input message="tns:ObtenerRecetaIDHttpGetIn" />
      <wsdl:output message="tns:ObtenerRecetaIDHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsRecetarioHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerRecetas">
      <wsdl:input message="tns:ObtenerRecetasHttpPostIn" />
      <wsdl:output message="tns:ObtenerRecetasHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerRecetaID">
      <wsdl:input message="tns:ObtenerRecetaIDHttpPostIn" />
      <wsdl:output message="tns:ObtenerRecetaIDHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsRecetarioSoap" type="tns:wsRecetarioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://miPrimerWebService.aweb.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerRecetas">
      <soap:operation soapAction="http://miPrimerWebService.aweb.com/ObtenerRecetas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerRecetaID">
      <soap:operation soapAction="http://miPrimerWebService.aweb.com/ObtenerRecetaID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsRecetarioSoap12" type="tns:wsRecetarioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://miPrimerWebService.aweb.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerRecetas">
      <soap12:operation soapAction="http://miPrimerWebService.aweb.com/ObtenerRecetas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerRecetaID">
      <soap12:operation soapAction="http://miPrimerWebService.aweb.com/ObtenerRecetaID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsRecetarioHttpGet" type="tns:wsRecetarioHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerRecetas">
      <http:operation location="/ObtenerRecetas" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerRecetaID">
      <http:operation location="/ObtenerRecetaID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsRecetarioHttpPost" type="tns:wsRecetarioHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerRecetas">
      <http:operation location="/ObtenerRecetas" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerRecetaID">
      <http:operation location="/ObtenerRecetaID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsRecetario">
    <wsdl:port name="wsRecetarioSoap" binding="tns:wsRecetarioSoap">
      <soap:address location="http://192.168.1.67/Recetario/wsRecetario.asmx" />
    </wsdl:port>
    <wsdl:port name="wsRecetarioSoap12" binding="tns:wsRecetarioSoap12">
      <soap12:address location="http://192.168.1.67/Recetario/wsRecetario.asmx" />
    </wsdl:port>
    <wsdl:port name="wsRecetarioHttpGet" binding="tns:wsRecetarioHttpGet">
      <http:address location="http://192.168.1.67/Recetario/wsRecetario.asmx" />
    </wsdl:port>
    <wsdl:port name="wsRecetarioHttpPost" binding="tns:wsRecetarioHttpPost">
      <http:address location="http://192.168.1.67/Recetario/wsRecetario.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>